# Ignore object files
*.o
*_bin

# Ignore binaries that match source files (exit, power, etc)
# Instead of listing every binary, we just ignore everything that 
# has NO extension AT ALL, and is not a specific directory.
!*/
!*.s
!*.md
!Makefile
!*.gitignore